/* CSS Document */
body{padding:0px; margin:0px; background:#fff; color:#616161; font:10px/14px Tahoma, sans-serif;}
div, p, ul, h2, h3, h4, img{padding:0px; margin:0px;}
ul{list-style-type:none;}

.clear {clear: both; margin: 0px; height:0}

p a{font:10px/14px Tahoma, sans-serif; color:#868e36; text-decoration:underline;}
p a:hover{ color:#868e36; text-decoration:none;}

.headline{font:10px/14px Tahoma, Geneva, sans-serif; color:#868e36; font-weight:bold}
.headline2{font:10px/14px Tahoma, Geneva, sans-serif; color:#9d1263; font-weight:bold}

#container{width:685px; position:relative; margin:0 auto;}

/* footer */

#footer{height:49px; clear:both; width:775px; background:#e8f09c; margin: 0 auto}
#footer p{padding: 10px 0 0 0; font:10px/16px Tahoma, sans-serif; font-weight:normal; text-align:center; color:#000;}
#footer p a{font:10px/16px Tahoma, sans-serif; font-weight:normal; color:#000; text-decoration:none; padding: 0 3px }
#footer p a:hover{text-decoration:underline; color:#000}